
<h5 id="配置管理器">配置管理器</h5>
<div class="level5">

<p>
使用本页中的内容来控制您的 Dokuwiki 设置。  每个单独设置的相关信息请参阅 <a href="https://www.dokuwiki.org/config" class="interwiki iw_doku" title="https://www.dokuwiki.org/config">config</a>。 配置管理器的更多信息请参阅 <a href="https://www.dokuwiki.org/plugin%3Aconfig" class="interwiki iw_doku" title="https://www.dokuwiki.org/plugin%3Aconfig">plugin:config</a>。
</p>

<p>
淡红色背景的项目被保护，不能通过这个管理器更改。 蓝色背景的项目是系统的默认值，白色背景的项目是您作出更改的项目。蓝色和白色的设置项目都可以更改。
</p>

<p>
离开本页之前不要忘记点击最后的 **保存** 按钮，否则您做的修改不会生效。
</p>

</div>
