<ul>
<li class="level1"><div class="li"> <a href="/wiki:main" class="wikilink2" title="wiki:main" rel="nofollow">main</a></div>
</li>
<li class="level1"><div class="li"> <a href="/wiki:navigation" class="wikilink1" title="wiki:navigation">navigation</a></div>
</li>
</ul>
