
<p>
这个标签会为你展示所有DokuWiki的第三方插件和模板。但你需要知道这些由第三方提供的代码可能会给你带来**安全方面的风险**，你最好先读一下<a href="https://www.dokuwiki.org/security#plugin_security" class="interwiki iw_doku" title="https://www.dokuwiki.org/security#plugin_security">插件安全性</a>。
</p>
